<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div "container-fluid">

      <a class="navbar-brand" role="menuitem" href="/pages/todo.html">todo Application</a>
      <a class="navbar-brand" role="menuitem" href="/pages/project.html">My Project</a>
      <a class="navbar-brand" role="menuitem" href="/pages/funnySquares.html">Funny Squares</a>
      <a class="navbar-brand" role="menuitem" href="/pages/personalPortfolio.html">Personal Portfolio</a>
      <a class="navbar-brand" role="menuitem" href="/pages/dataVisualization.html">Data Visualization</a>
      <a class="navbar-brand" role="menuitem" href="/pages/horse.html">Horse</a>
      <a class="navbar-brand" role="menuitem" href="/pages/formsBackbone.html">Backbone Forms</a>
      <a class="navbar-brand" role="menuitem" href="/pages/photoSearch.html">Photo Search</a>

    </div>
  </div>
</nav>
