<nav>
  <a role="menuitem" href="/pages/todo.html">todo Application</a><br>
  <a role="menuitem" href="/pages/project.html">My Project</a><br>
  <a role="menuitem" href="/pages/funnySquares.html">Funny Squares</a><br>
  <a role="menuitem" href="/pages/personalPortfolio.html">Personal Portfolio</a><br>
  <a role="menuitem" href="/pages/dataVisualization.html">Data Visualization</a><br>
  <a role="menuitem" href="/pages/horse.html">Horse</a><br>
  <a role="menuitem" href="/pages/formsBackbone.html">Backbone Forms</a><br>
  <a role="menuitem" href="/pages/photoSearch.html">Photo Search</a><br>
</nav>
